In [110]:
import tensorflow as tf
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

from tensorflow.keras import datasets, layers, models

In [96]:
train_df = pd.read_csv("../Ex1_dataset/emnist-letters-train.csv",header=None)
test_df = pd.read_csv("../Ex1_dataset/emnist-letters-test.csv",header=None)
train_df

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
0,23,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,16,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,15,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,23,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88795,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
88796,21,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
88797,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
88798,23,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
88799,12,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [97]:
print(train_df.shape)
print(test_df.shape)

(88800, 785)
(14800, 785)

In [128]:
train_labels = (train_df[0] - 1).to_numpy()
test_labels = (test_df[0] - 1).to_numpy()

In [99]:
train_images = train_df.iloc[:, 1:]
test_images = test_df.iloc[:, 1:]
train_images

,1,2,3,4,5,6,7,8,9,10,...,775,776,777,778,779,780,781,782,783,784
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88795,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
88796,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
88797,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
88798,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
88799,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [100]:
train_numpy_images = train_images.to_numpy().reshape((train_images.shape[0], 28 ,28, 1))
test_numpy_images = test_images.to_numpy().reshape((test_images.shape[0], 28 ,28, 1))
train_numpy_images.shape

(88800, 28, 28, 1)

In [101]:
model = models.Sequential()
model.add(layers.Conv2D(32, (7, 7), activation='relu', input_shape=(28, 28, 1)))
model.add(layers.MaxPooling2D((5, 5), padding="same"))
model.add(layers.Conv2D(64, (2, 2), activation='relu'))
model.add(layers.MaxPooling2D((2, 2)))
model.add(layers.Conv2D(64, (2, 2), activation='relu'))
model.add(layers.Flatten())
model.add(layers.Dense(64, activation='relu'))
model.add(layers.Dense(26, activation='softmax'))
model.summary()

Model: "sequential_21"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
conv2d_38 (Conv2D)           (None, 22, 22, 32)        1600
_________________________________________________________________
max_pooling2d_27 (MaxPooling (None, 5, 5, 32)          0
_________________________________________________________________
conv2d_39 (Conv2D)           (None, 4, 4, 64)          8256
_________________________________________________________________
max_pooling2d_28 (MaxPooling (None, 2, 2, 64)          0
_________________________________________________________________
conv2d_40 (Conv2D)           (None, 1, 1, 64)          16448
_________________________________________________________________
flatten_2 (Flatten)          (None, 64)                0
_________________________________________________________________
dense_4 (Dense)              (None, 64)                4160
_________________________________________________________________
dense_5 (Dense)              (None, 26)                1690
=================================================================
Total params: 32,154
Trainable params: 32,154
Non-trainable params: 0
_________________________________________________________________

In [102]:
model.compile(optimizer='adam',
              loss='sparse_categorical_crossentropy',
              metrics=['accuracy'])

model.fit(train_numpy_images, train_labels, epochs=5)

Epoch 1/5
2775/2775 [==============================] - 16s 5ms/step - loss: 0.7349 - accuracy: 0.7889
Epoch 2/5
2775/2775 [==============================] - 16s 6ms/step - loss: 0.3351 - accuracy: 0.8905
Epoch 3/5
2775/2775 [==============================] - 16s 6ms/step - loss: 0.2918 - accuracy: 0.9035
Epoch 4/5
2775/2775 [==============================] - 17s 6ms/step - loss: 0.2679 - accuracy: 0.9097
Epoch 5/5
2775/2775 [==============================] - 16s 6ms/step - loss: 0.2524 - accuracy: 0.9154

In [108]:
test_loss, test_acc = model.evaluate(test_numpy_images,  test_labels, verbose=2)

463/463 - 1s - loss: 0.3129 - accuracy: 0.8963

In [140]:
CHOICE_COUNT = 10

In [133]:
choice_random_index = np.random.choice(test_images.shape[0], CHOICE_COUNT, replace=False)
choice_test_images = test_numpy_images[choice_random_index]
choice_test_images.shape

(10, 28, 28, 1)

In [136]:
predict_test_labels = model.predict(choice_test_images).argmax(axis=1)
predict_test_labels

array([16, 13,  3,  3, 10,  1,  5, 16, 16, 14], dtype=int64)

In [137]:
choice_test_labels = test_labels[choice_random_index]
choice_test_labels

array([ 6, 13,  3, 14, 10,  1,  5, 16, 16, 14], dtype=int64)

In [144]:
accuracy = sum(predict_test_labels == choice_test_labels) / CHOICE_COUNT * 100
print(f"accuracy: {accuracy}%")

accuracy: 80.0%